@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply bg-transparent border border-white/40 rounded-lg px-3 py-2 text-sm outline-none text-white;
}

html {
  scroll-behavior: smooth;
}
